@charset "UTF-8";
*{
	margin : 0;
	padding : 0;
}
body {
	margin:0 auto;
}
a {
	text-decoration:none;
	padding : 10px;
}
header{
	background: #808080;
	color: #fff;
}
header h2, h3{
	text-align:center;
	padding : 15px 0;
}
h3{
	margin-top : 30px;
	margin-bottom : 10px;
}
.topMenu{
	background: #e1e1e1;
	padding: 15px 0;
	text-align : center;
}
footer{
	background : #808080;
	color : #fff;
	position : fixed;
	bottom : 0 ;
	text-align:center;
	width : 100%;
	padding : 15px;
}
table {
	margin : 0 auto;
	text-align:center;
	padding : 10px, 0;
}
